{% extends 'common/common.html' %}
{% load static %}
{% load i18n %}
{% load rest_framework %}
{% block extracss %}
    <style>
        .benchmark-card {
            margin-bottom: 5px;
            background-color: #e9ecef;
        }
        .benchmark-card-title {
            color: #bc8e76;
            font-size: x-large;
            cursor: pointer;
        }
    </style>
{% endblock %}
{% block content %}
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="{% url 'home' %}">Home</a></li>
        <li class="breadcrumb-item"><a href="{% url 'field_rate' %}">{{ SITE_NAME }}</a></li>
        <li class="breadcrumb-item active">benchmark</li>
    </ol>
    <!-- Content -->
    <div class="main-sub-container">
        <div class="container" id="accordion">
        </div>
    </div>

{% endblock %}
{% block extrajs %}
    <script src="{% static 'js/common.js' %}"></script>
    <script type="text/javascript">
        var csrftoken = Cookies.get('csrftoken');
        var user_token = '{{ user.auth_token.key }}';
        var api_url = '/api/v1/survey/?benchmark=true';
        var results = null;

        function QuestionFetch(content, item_id) {
            var que = '<div class="col-md-12">';
            $.each(content, function(i, item) {
                // console.log(i, item_id);
                if (i !== "count")
                {
                    {#var href = "{% url 'question_graph' survey_id=item_id question_id=i %}";#}
                    var map_href = "{% url 'benchmark' %}" + item_id + "/" + i + "/map/";
                    var graph_href = "{% url 'benchmark' %}" + item_id + "/" + i + "/graph/";
                    que += '<div class="col-md-5">' +
                        '<div class="row h5"> &nbsp;&nbsp;<a href="' + map_href + '"><strong>' + item.question_title +
                        '</a>&nbsp;&nbsp;&nbsp;<a href="'+ graph_href +'"> <i class="fa fa-caret-square-o-right"></i></a></strong></div>' +
                        '<div class=row> <strong>Average Rating: &nbsp;&nbsp;</strong>' + item.average_rating + ' out of ' + item.rate_scale + '</div>' +
                        '<div class=row> <strong>Total Rating: &nbsp;&nbsp;</strong>' + item.rating + '</div>' +
                        '<div class=row> <strong>Total Responses: &nbsp;&nbsp;</strong>' + item.total_responses + '</div>' +
                        '<div class=row> <strong>Cities: &nbsp;&nbsp;</strong>' + item.cities + '</div>' +
                        '&nbsp;&nbsp; </div>';
                }
            });
            que += '</div>';
            return que
        }

        function AddData(content) {
            $.each(content, function (i, item) {
                var item_id = item.id;
                var $block = $('<div class="card benchmark-card">').append(
                    $('<div class="card-header">').append(
                        $('<h5 class="mb-0">').html(`
                            <button class="btn btn-link collapsed" data-toggle="collapse"
                                data-target="#`+ item_id +`" aria-expanded="false"
                                aria-controls="`+ item_id +`">` +
                            '<span class="benchmark-card-title">' + item.name + '</span></button>'
                        )
                    ),
                    $('<div id="'+ item_id +'" class="collapse" aria-labelledby="headingOne" ' +
                        'data-parent="#accordion">').append('<div class="card-body">').html(
                            QuestionFetch(item.benchmark, item_id)
                    )
                ).appendTo("#accordion")
            })
            }

        function setCSRF(xhr, settings) {
            xhr.setRequestHeader("Authorization", "Token " + user_token);
            xhr.setRequestHeader("X-CSRFToken", csrftoken);
        }

        function OnLoadSuccessCallback(response) {
            console.log('success', response);
            results = response.results;
            AddData(results);
        }

        $(document).ready(function () {
            var method = 'GET';
            var data = '';
            var headers = {'Authorization': 'Token' + ' ' + user_token};
            doAjax(method, api_url, data, headers, OnLoadSuccessCallback, failureCallback, setCSRF);
        });

    </script>
{% endblock %}