{% extends 'common/common.html' %}
{% load static %}
{% block extracss %}
    <link rel="stylesheet" href="{% static 'css/map-style.css' %}"/>
{% endblock %}
{% block content %}
    <ol class="breadcrumb" style="padding:auto;margin-bottom:auto;">
        <li class="breadcrumb-item"><a href="{% url 'home' %}">Home</a></li>
        <li class="breadcrumb-item"><a href="{% url 'field_rate' %}">{{ SITE_NAME }}</a></li>
        <li class="breadcrumb-item"><a href="{% url 'benchmark' %}">Benchmark</a></li>
        <li class="breadcrumb-item active">Benchmark Map</li>
    </ol>
    {% include 'common/message.html' %}
    <div id="map" class="map-container" style="height: 67.7%"></div>
        {% for city in city_response %}
            <div id="{{ city.city }}">
                <a href="{% url 'question_graph' survey_id question_id %}?city={{ city.city }}" class="no-style-a">
                    <span><b>Avg score:</b> {{ city.average_rating }}</span>
                    <span><br><b>Total Responses:</b> {{ city.total_responses }}</span>
                    <span><br><b>City:</b> {{ city.city|capfirst }}</span>
                </a>
            </div>
        {% endfor %}
{% endblock %}
{% block extrajs %}
    <script src="{% static 'js/common.js' %}"></script>
    <script>
        var map, popup, Popup, results;
        var cities = JSON.parse('{{ cities|escapejs }}');
        var survey_id = '{{ survey_id }}';
        var question_id = '{{ question_id }}';
        var csrftoken = Cookies.get('csrftoken');
        var user_token = '{{ user.auth_token.key }}';
        var api_url = '/api/v1/survey/'+ survey_id +'/?benchmark=true';
        var geo_location_api_url = '/api/v1/geo_location/?address=';
        /** Load data from API */
        function setCSRF(xhr, settings) {
            xhr.setRequestHeader("Authorization", "Token " + user_token);
            xhr.setRequestHeader("X-CSRFToken", csrftoken);
        }

        function OnLoadSuccessCallback(response) {
            console.log('success', response);
            results = response.benchmark[question_id];
            // cities = results.cities;
        }

        function RequestAPI() {
            var headers = {'Authorization': 'Token' + ' ' + user_token};
            doAjax('GET', api_url, '', headers, OnLoadSuccessCallback, failureCallback, setCSRF);
        }

        $(document).ready(RequestAPI());

        /** Initializes the map and the custom popup. */
        function initMap() {
            definePopupClass();

            map = new google.maps.Map(document.getElementById('map'), {
                center: {lat: 0, lng: 0},
                zoom: 2,
                styles: [
            {elementType: 'geometry', stylers: [{color: '#242f3e'}]},
            {elementType: 'labels.text.stroke', stylers: [{color: '#242f3e'}]},
            {elementType: 'labels.text.fill', stylers: [{color: '#746855'}]},
            {
              featureType: 'administrative.locality',
              elementType: 'labels.text.fill',
              stylers: [{color: '#d59563'}]
            },
            {
              featureType: 'poi',
              elementType: 'labels.text.fill',
              stylers: [{color: '#d59563'}]
            },
            {
              featureType: 'poi.park',
              elementType: 'geometry',
              stylers: [{color: '#263c3f'}]
            },
            {
              featureType: 'poi.park',
              elementType: 'labels.text.fill',
              stylers: [{color: '#6b9a76'}]
            },
            {
              featureType: 'road',
              elementType: 'geometry',
              stylers: [{color: '#38414e'}]
            },
            {
              featureType: 'road',
              elementType: 'geometry.stroke',
              stylers: [{color: '#212a37'}]
            },
            {
              featureType: 'road',
              elementType: 'labels.text.fill',
              stylers: [{color: '#9ca5b3'}]
            },
            {
              featureType: 'road.highway',
              elementType: 'geometry',
              stylers: [{color: '#746855'}]
            },
            {
              featureType: 'road.highway',
              elementType: 'geometry.stroke',
              stylers: [{color: '#1f2835'}]
            },
            {
              featureType: 'road.highway',
              elementType: 'labels.text.fill',
              stylers: [{color: '#f3d19c'}]
            },
            {
              featureType: 'transit',
              elementType: 'geometry',
              stylers: [{color: '#2f3948'}]
            },
            {
              featureType: 'transit.station',
              elementType: 'labels.text.fill',
              stylers: [{color: '#d59563'}]
            },
            {
              featureType: 'water',
              elementType: 'geometry',
              stylers: [{color: '#17263c'}]
            },
            {
              featureType: 'water',
              elementType: 'labels.text.fill',
              stylers: [{color: '#515c6d'}]
            },
            {
              featureType: 'water',
              elementType: 'labels.text.stroke',
              stylers: [{color: '#17263c'}]
            }
          ]
            });

            $.each(cities, function (i, item)
            {
                console.log('popup', i, item);
                popup = new Popup(
                    new google.maps.LatLng(item.lat, item.lng),
                    document.getElementById(item.city));
                popup.setMap(map);
            })
        }

        /** Defines the Popup class. */
        function definePopupClass() {
            /**
             * A customized popup on the map.
             * @param {!google.maps.LatLng} position
             * @param {!Element} content
             * @constructor
             * @extends {google.maps.OverlayView}
             */
            Popup = function (position, content) {
                this.position = position;

                content.classList.add('popup-bubble-content');

                var pixelOffset = document.createElement('div');
                pixelOffset.classList.add('popup-bubble-anchor');
                pixelOffset.appendChild(content);

                this.anchor = document.createElement('div');
                this.anchor.classList.add('popup-tip-anchor');
                this.anchor.appendChild(pixelOffset);

                // Optionally stop clicks, etc., from bubbling up to the map.
                this.stopEventPropagation();
            };
            // NOTE: google.maps.OverlayView is only defined once the Maps API has
            // loaded. That is why Popup is defined inside initMap().
            Popup.prototype = Object.create(google.maps.OverlayView.prototype);

            /** Called when the popup is added to the map. */
            Popup.prototype.onAdd = function () {
                this.getPanes().floatPane.appendChild(this.anchor);
            };

            /** Called when the popup is removed from the map. */
            Popup.prototype.onRemove = function () {
                if (this.anchor.parentElement) {
                    this.anchor.parentElement.removeChild(this.anchor);
                }
            };

            /** Called when the popup needs to draw itself. */
            Popup.prototype.draw = function () {
                var divPosition = this.getProjection().fromLatLngToDivPixel(this.position);
                // Hide the popup when it is far out of view.
                var display =
                    Math.abs(divPosition.x) < 4000 && Math.abs(divPosition.y) < 4000 ?
                        'block' :
                        'none';

                if (display === 'block') {
                    this.anchor.style.left = divPosition.x + 'px';
                    this.anchor.style.top = divPosition.y + 'px';
                }
                if (this.anchor.style.display !== display) {
                    this.anchor.style.display = display;
                }
            };

            /** Stops clicks/drags from bubbling up to the map. */
            Popup.prototype.stopEventPropagation = function () {
                var anchor = this.anchor;
                anchor.style.cursor = 'auto';

                ['click', 'dblclick', 'contextmenu', 'wheel', 'mousedown', 'touchstart',
                    'pointerdown']
                    .forEach(function (event) {
                        anchor.addEventListener(event, function (e) {
                            e.stopPropagation();
                        });
                    });
            };
        }
    </script>
    <script async defer
            src="https://maps.googleapis.com/maps/api/js?key=AIzaSyD-SS5IKnLvUilOCyUv5TogdQzGPQEexcw&callback=initMap">
    </script>
{% endblock %}