{% extends 'common/common.html' %}
{% block includes %}
    {% include 'common/common_nav.html' %}
{% endblock %}
{% block extracss %}
    <style>
        #login-form input[type=text], #login-form input[type=email] {
            height: 40px;
        }
    </style>
{% endblock %}

{% block anonymous_content %}
    <!-- Content -->
    <div class="main-container">
        <div class="container">
            <div class="row">
                <div class="col col-12 col-lg-6 col-md-6">
                    <div class="text-center">
                        <b>Introduction to Field Rate</b>
                    </div>
                    <iframe style="width: 100% !important;height: 315px !important;" src="https://www.youtube.com/embed/wD7PQaGP0Bs?rel=0" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen> </iframe>
                    <!-- play video from wistia
                    <script src="https://fast.wistia.com/embed/medias/a13p4wfkl7.jsonp" async></script>
                    <script src="https://fast.wistia.com/assets/external/E-v1.js" async></script>
                    <div class="wistia_responsive_padding" style="padding:57.19% 0 0 0;position:relative;">
                        <div class="wistia_responsive_wrapper" style="height:100%;left:0;position:absolute;top:0;width:100%;">
                            <div class="wistia_embed wistia_async_a13p4wfkl7 videoFoam=true" style="height:100%;position:relative;width:100%">
                                <div class="wistia_swatch" style="background:#000;height:100%;left:0;opacity:0;overflow:hidden;position:absolute;top:0;transition:opacity 200ms;width:100%;">
                                    <img src="https://fast.wistia.com/embed/medias/a13p4wfkl7/swatch" style="filter:blur(5px);height:100%;object-fit:contain;width:100%;" alt="" onload="this.parentNode.style.opacity=1;" />
                                </div>
                            </div>
                        </div>
                    </div>
                    -->
                    <!-- play video link
                    <video width="400" autoplay controls>
                        <source src="http://techslides.com/demos/sample-videos/small.mp4" type="video/mp4">
                        Your browser does not support HTML5 video.
                    </video>
                    -->
                </div>
                <div class="col col-12 col-lg-6 col-md-6">
                    <div class="text-center">
                        <b>Login</b>
                    </div>
                    <form action="" method="post" role="form">
                            {% csrf_token %}
                        {% if form.non_field_errors %}
                            <ul class='form-errors'>
                                {% for error in form.non_field_errors %}
                                    <li class="text-danger">{{ error }}</li>
                                {% endfor %}
                            </ul>
                        {% endif %}
                        <div class="form-group">
                            {{ form.username }}
                        </div>
                        <div class="form-group">
                            {{ form.password }}
                        </div>
                        <div class="form-group text-center">
                            <button class="btn btn-theme" id="login" value="Log in">Log in</button>
                        </div>
                    </form>
{#                    <div class="text-center">#}
{#                        <p>Not a Member Yet? <span><a href="#">Sign up now</a><span></p>#}
{#                    </div>#}
                </div>
            </div>
        </div>
    </div>
{% endblock %}