{% load custom_tags %}
{% block message %}
    {% if messages %}
        {% for message in messages %}
            <div class="alert alert-{{ message|message_filter }}">
                <div class="text-{{ message|message_filter }}">
                    {{ message }}
                </div>
            </div>
        {% endfor %}
    {% endif %}
    {% if form.errors %}
        {% for field in form %}
            {% for error in field.errors %}
                <div class="alert alert-danger">
                    <strong>{{ error|escape }}</strong>
                </div>
            {% endfor %}
        {% endfor %}
        {% for error in form.non_field_errors %}
            <div class="alert alert-danger">
                <strong>{{ error|escape }}</strong>
            </div>
        {% endfor %}
    {% endif %}
    {% if form.field_errors %}
        <div class="container">
            <ul class='form-errors'>
                {% for error in form.field_errors %}
                    <li class="text-danger">{{ error }}</li>
                {% endfor %}
            </ul>
        </div>
    {% endif %}
{% endblock %}